language: php

php:
  - 7.2
  - 7.3
  - 7.4

before_script:
  - composer install --no-interaction

script:
  - composer test
  - ./vendor/bin/phpunit tests/*Test.php --coverage-text --coverage-clover coverage.xml

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.xml